<header class="gird-header">
    <div class="header-fixed">
        <div class="header-inner">
            <a href="javascript:void(0)" class="header-logo" id="logo">Mr.Zzh</a>
            <nav class="nav" id="nav">
                <ul>
                    <li><a href="{:url('index/Index/index')}">首页</a></li>
                    <li><a href="{:url('index/Cate/lst')}">博客</a></li>
                    <li><a href="{:url('index/Diary/index')}">Code Life</a></li>
                    <li><a href="{:url('index/Link/index')}">友链</a></li>
                    <li><a href="{:url('index/About/index')}">关于</a></li>
                </ul>
            </nav>
            <a href="#" class="blog-user">
                <!-- <i class="fa fa-qq"></i> -->
                <img src="__PUBLIC__/image/linkWrong.jpg">
            </a>
            <a class="phone-menu">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </div>
    </div>
</header>